// Colors

$primary: #F2F2F2;
$secondary: #001334;
$tertiary: #C2C5CC;




// Filters for black svg's

$filter1: invert(6%) sepia(35%) saturate(5041%) hue-rotate(206deg) brightness(98%) contrast(105%);
